[tool.bumpversion]
current_version = "2025.11.15"
commit = true
tag = true
parse = '(?P<release>(?:\d+)\.(?:\d+)\.(?:\d+))(?:\.(?P<patch>\d+))?'
serialize = ["{release}.{patch}", "{release}"]

[tool.bumpversion.parts.release]
calver_format = "{YYYY}.{MM}.{DD}"

[[tool.bumpversion.files]]
filename = "setup.cfg"

[[tool.bumpversion.files]]
filename = "recuair_cli/__init__.py"
